body {
  background-color: black;
  color: white;
  text-align: center; }

header, h1, h2, h3 {
  font-family: "Aldrich", sans-serif;
  color: #cc0000;
  text-shadow: 1px 1px 1px whitesmoke; }

i {
  color: white; }

h1 {
  font-size: 28pt; }

h2 {
  font-size: 26pt; }

h3 {
  font-size: 24pt; }

p, a {
  font-family: "Exo 2", sans-serif; }

li, a {
  text-decoration: none; }

header {
  position: sticky;
  top: 0px;
  align-content: center;
  align-items: center; }

h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 25px;
  margin: 10px; }

h2, h3 {
  padding: 15px; }

fieldset {
  border: none; }

li {
  list-style-type: none;
  text-transform: capitalize; }

iframe {
  padding: auto; }

a {
  text-decoration: none;
  color: #999192;
  justify-content: space-evenly; }

a:hover {
  color: whitesmoke; }

label, input, option {
  font-family: "Exo 2", sans-serif; }

/*estilos de artistas*/
.nuestrosArtistas {
  align-items: center;
  justify-content: center; }
  .nuestrosArtistas nav {
    align-content: center; }
  .nuestrosArtistas .nuestrosArtistas-img {
    max-width: 900px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .nuestrosArtistas .nuestrosArtistas-img li {
      margin: 5px; }
  .nuestrosArtistas .nuestrosArtistas-img li:hover {
    transform: scale(1.4, 1.4); }

.nuestrosArtistas-img-480 {
  display: none; }

.nosotros p {
  margin: 20px; }

.artistas {
  align-content: center;
  text-align: center; }
  .artistas h3 {
    padding: 20px auto; }
  .artistas .artistas-bio {
    padding: 0px 50px 10px; }

@media (max-width: 480px) {
  #demian {
    background-image: url(../../img/demian1.jpg);
    background-position: center; }
  #ivo {
    background-image: url(../../img/ivo1.jpg);
    background-position: center; }
  #geronzi {
    background-image: url(../../img/geronzi1.jpg);
    background-position: center; }
  #maag {
    background-image: url(../../img/maag1.jpg);
    background-position: center; }
  #mefistofeles {
    background-image: url(../../img/mefistofeles1.jpg);
    background-position: center; }
  #ukrenek {
    background-image: url(../../img/ukrenek1.jpg);
    background-position: center; }
  .artistas {
    text-align: center;
    align-content: center;
    margin: 20px;
    height: 100vh; }
    .artistas img {
      display: none; }
  .nuestrosArtistas-img {
    display: none; }
    .nuestrosArtistas-img li {
      display: none; }
  .nuestrosArtistas-img-480 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .nuestrosArtistas-img-480 li {
      margin: 5px; } }

header {
  align-content: center;
  margin: auto; }
  header a {
    margin-top: 15px; }
  header .logo {
    display: none; }
  header .menu-abrir, header .menu-cerrar {
    display: none; }
  header .menu {
    background-color: black;
    list-style: none;
    display: flex;
    align-content: center;
    margin: auto;
    justify-content: space-evenly; }
    header .menu li {
      margin: 3px;
      font-family: "Aldrich", sans-serif;
      flex-direction: row;
      position: relative;
      font-size: 18pt;
      text-transform: uppercase;
      flex-grow: 1; }
      header .menu li:hover {
        transform: scale(1.05, 1.05);
        border: solid 1px #999192;
        box-shadow: 1px 1px 1px whitesmoke; }

.sub-menu {
  position: absolute;
  display: none;
  align-content: center; }
  .sub-menu li {
    width: 20vw;
    font-family: "Aldrich", sans-serif;
    text-align: center;
    background-color: black;
    display: block;
    font-size: 16pt;
    text-transform: uppercase; }

.menu li:hover ul {
  display: block; }

@media (max-width: 800px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    header .logo {
      display: block; }
    header .menu-abrir, header .menu-cerrar {
      display: block; }
    header nav {
      position: absolute;
      top: -1000%;
      width: 100%;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: black; }
      header nav .menu {
        display: inline-block; }
      header nav a {
        color: white; }
      header nav:target {
        top: 0%; } }

@media (max-width: 480px) {
  .menu {
    display: inline-block; } }

/*estilos del footer*/
.footer {
  height: 10vh;
  width: 100%;
  background-color: black;
  text-align: center;
  position: relative;
  bottom: 0px; }
  .footer .footer-nav ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly; }

#contactoMain {
  background-image: url(../../img/publico.jpg);
  height: 75vh;
  width: 100%;
  background-position: center center;
  align-content: center;
  margin: auto;
  padding: auto; }
  #contactoMain fieldset {
    max-width: 600px;
    background-color: #333334;
    opacity: 70%;
    color: #999192;
    border-radius: 4px;
    font-weight: bold;
    margin: auto;
    padding: 20px; }
    #contactoMain fieldset .contacto {
      padding: 2px; }
  @media (max-width: 480px) {
    #contactoMain fieldset {
      max-width: 300px; } }

.indexMain {
  background-image: url(../../img/publico.jpg);
  height: 75vh;
  width: 100%;
  background-position: center center;
  align-content: center;
  margin: auto; }
  .indexMain ul {
    max-width: 900px;
    display: flex;
    font-size: 0;
    margin: auto;
    opacity: 80%;
    list-style-type: none;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0px; }
    .indexMain ul li {
      width: 300px;
      height: 100px;
      padding: 50px;
      justify-content: space-evenly;
      margin: 20px;
      border-radius: 5px;
      font-size: 22px;
      background-image: linear-gradient(#333334, black);
      text-decoration: overline;
      border: solid 2px #999192;
      font-weight: bold;
      text-transform: uppercase;
      box-sizing: initial; }
      .indexMain ul li ul {
        max-width: 750px;
        position: absolute;
        display: none;
        opacity: 100%; }
        .indexMain ul li ul li {
          display: flex;
          width: 100px;
          height: 50px;
          padding: 50px;
          margin: 3px;
          align-content: center;
          font-size: 16px; }

.indexMain li:hover ul {
  display: flex;
  flex-wrap: wrap; }

/*smartphone*/
@media (max-width: 480px) {
  * {
    margin: 0%;
    padding: 0%;
    align-items: center; }
  .indexMain nav {
    margin: 10px 0px; }
    .indexMain nav li {
      width: 250px;
      height: 30px;
      margin: 5px;
      padding: 40px 20px;
      font-size: 16px; }
      .indexMain nav li ul {
        width: 300px; }
        .indexMain nav li ul li {
          width: 100px;
          height: 50px;
          padding: 20px;
          margin: 3px; } }

.indexMain li:hover ul {
  display: flex; }

.menuEventos, .menuMusica {
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  height: 80vh;
  margin: auto;
  list-style-type: none;
  align-content: center;
  justify-content: center;
  padding: auto; }
  .menuEventos ul, .menuMusica ul {
    display: flex; }
    .menuEventos ul li, .menuMusica ul li {
      width: 350px;
      height: 250px;
      justify-content: center;
      align-content: center;
      margin: 20px;
      border-radius: 1px;
      font-size: 26px;
      font-family: "Aldrich", sans-serif;
      text-transform: uppercase;
      border: solid 1px #999192;
      font-weight: bold;
      align-content: center;
      box-sizing: initial; }
    .menuEventos ul li:hover, .menuMusica ul li:hover {
      animation-name: eventos;
      animation: eventos 5s ease-in 0s infinite;
      text-shadow: 0.2px 0.2px 0.2px whitesmoke; }

.galeria {
  align-content: center;
  justify-content: space-evenly;
  margin: auto;
  display: flex;
  flex-wrap: wrap; }
  .galeria li {
    margin: 5px; }

.galeria-480 {
  display: none; }

@keyframes eventos {
  0% {
    background-image: url(../../img/1.jpg);
    background-position: center center; }
  20% {
    background-image: url(../../img/2.jpg);
    background-position: center center; }
  40% {
    background-image: url(../../img/3.jpg);
    background-position: center center; }
  60% {
    background-image: url(../../img/4.jpg);
    background-position: center center; }
  80% {
    background-image: url(../../img/5.jpg);
    background-position: center center; }
  100% {
    background-image: url(../../img/6.jpg);
    background-position: center center; } }

.seccionCalendario {
  height: 100vh; }
  .seccionCalendario .calendario {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr); }
    .seccionCalendario .calendario li {
      border: solid 1px #333334;
      text-align: end;
      padding: 10px 5px 30px;
      font-family: "Exo 2", sans-serif;
      font-size: large; }
    .seccionCalendario .calendario .dia {
      font-family: "Aldrich", sans-serif;
      color: #cc0000;
      font-size: larger;
      font-weight: bold;
      text-align: center; }
    .seccionCalendario .calendario .evento {
      background: #333334; }
  .seccionCalendario p {
    margin: 20px 10px; }

.tracks .videos, .sets .videos {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: auto;
  justify-content: space-evenly; }
  .tracks .videos iframe, .sets .videos iframe {
    width: 560px;
    height: 315px;
    margin: 10px; }

@media (max-width: 800px) {
  .menuEventos, .menuMusica {
    display: none; }
  .seccionCalendario {
    height: 85vh; } }

@media (max-width: 480px) {
  .galeria {
    display: none; }
  .galeria-480 {
    align-content: center;
    justify-content: space-evenly;
    margin: auto;
    display: flex;
    flex-wrap: wrap; }
    .galeria-480 li {
      margin: 5px; }
  .seccionCalendario {
    height: 80vh; }
    .seccionCalendario .calendario {
      width: 95%; }
      .seccionCalendario .calendario li {
        font-size: 12pt;
        text-align: center;
        padding: 5px 5px 5px; }
      .seccionCalendario .calendario .dia {
        font-size: 12pt; }
        .seccionCalendario .calendario .dia span {
          display: none; }
  .tracks .videos, .sets .videos {
    max-width: 95%; }
    .tracks .videos iframe, .sets .videos iframe {
      width: 280px;
      height: 167px; } }

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }
