/*estilos de artistas*/
.nuestrosArtistas {
    align-items: center;
    justify-content: center;
    
    nav{
        align-content: center;
    }
    .nuestrosArtistas-img {
        max-width: 900px;
        margin: auto;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li{
            margin: 5px;
        }
    }
    .nuestrosArtistas-img li:hover {
        transform: scale(1.4, 1.4);
    }
}
.nuestrosArtistas-img-480{
    display: none;
}

.nosotros p {
    margin: 20px;
}



.artistas {
    align-content: center;
    text-align: center;

    h3{
        padding: 20px auto;
    }
    .artistas-bio{
        padding: 0px 50px 10px;
        .redesSociales-artistas{
            justify-content: space-evenly;
            margin: auto;
        }
    }
}
@media (max-width: 480px){
    @each $artistasImg in demian, ivo, geronzi, maag, mefistofeles, ukrenek {
        ##{$artistasImg} {
            background-image: url(../../img/#{$artistasImg}1.jpg);
            background-position: center;
        }
    }
    .artistas{
        text-align: center;
        align-content: center;
        margin: 20px;
        height: 100vh;
        
        img{
            display: none;
        }
    }

    .nuestrosArtistas-img{
        display: none;
        
        li{
            display: none;
        }
    } 
    .nuestrosArtistas-img-480{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        li{
            margin: 5px;
        }
    }
}