/*estilos de artistas*/
.nuestrosArtistas {
    align-items: center;
    justify-content: center;
    
    nav{
        align-content: center;
    }
    .nuestrosArtistas-img {
        max-width: 900px;
        margin: auto;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li{
            margin: 5px;
        }
    }
    .nuestrosArtistas-img li:hover {
        transform: scale(1.4, 1.4);
    }
}
.nuestrosArtistas-img-480{
    display: none;
}

.nosotros p {
    margin: 20px;
}



.artistas {
    padding-top: 10vh;
    align-content: center;
    text-align: center;
    height: 100vh;

    h3{
        
        padding: 20px auto;
    }
    .artistas-bio{
        padding: 0px 50px 10px;
        p{
            margin: 20px;
        }
        .redesSociales-artistas{
            justify-content: space-evenly;
            margin: auto;
            a{
                margin: 20px;
                
                i:hover{
                    color: $colorTitulo;
                    transform: scale(1.2, 1.2);
                }
            }
        }
    }
}
@media (max-width: 480px){
    @each $artistasImg in demian, ivo, geronzi, maag, mefistofeles, ukrenek {
        ##{$artistasImg} {
            background-image: url(../../img/#{$artistasImg}1.jpg);
            background-position: center;
        }
    }
    .artistas{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        align-content: center;
        margin: 20px;
        height: 100vh;
        padding: 5vh 0px;

        h3{
            display: flex;
            align-content: center;
            margin: auto;
        }
        .artistas-bio{
            padding: 20px 10px;

            p{
                margin-top: 20px;
            }
            .redesSociales-artistas{
                margin-top: 20px;
                a{
                    margin: 10px 20px;
                }
            }
        }
        img{
            display: none;
        }
    }

    .nuestrosArtistas-img{
        display: none;
        
        li{
            display: none;
        }
    } 
    .nuestrosArtistas-img-480{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        li{
            margin: 5px;
        }
    }
}