

#contactoMain {
    background-image: url(../../img/publico.jpg);
    height: 75vh;
    width: 100%;
    background-position: center center;
    align-content: center;
    margin: auto;
    padding: auto;
    
    fieldset{
        max-width: $ancho;
        background-color: #333334;
        opacity: 70%;
        color: #999192;
        border-radius: 4px;
        font-weight: bold;
        margin: auto;
        padding: 20px;

        .textarea{
            textarea{
                width: $ancho/2;
            }
        }
        .contacto-bt{
            input{
                width: 100px;
                height: 25px;
            }
        }
        .contacto{
            select, input{
                width: $ancho/2;
            }
            padding: 2px;
        }

    }
    @media (max-width: 480px) {
        h1{
            font-size: 26px;
        }
        fieldset{
            max-width: $ancho/2;
            
        .textarea{
            textarea{
                width: $ancho/3;
            }
        }
        .contacto-bt{
            input{
                width: 75px;
                height: 25px;
            }
        }
        .contacto{
            select, input{
                width: $ancho/3;
            }
            padding: 2px;
        }
        }
    }
}