/*estilos del footer*/
.footer {
    height: 10vh;
    width: 100%;
    background-color: black;
    text-align: center;
    position: relative;
    bottom: 0px;
    .footer-nav{
        ul {
            display: flex;
            text-decoration: none;
            list-style-type: none;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}

