header{
    align-content: center;
    margin: auto;

    label{
        display: none;
        width: 30px;
        height: 30px;

        &:hover{
            cursor: pointer;
        }
    }
}
#btn-menu{
    display: none;
}
.menu {
    background-color: black;
    list-style: none;
    display: flex;
    align-content: center;
    margin: auto;
    justify-content: space-evenly;
    
    li {
        margin: 3px;
        font-family: $titulo;
        flex-direction: row;
        position:relative;
        font-size: 18pt;
        text-transform: uppercase;
        flex-grow: 1;
        
        &:hover{
            transform: scale(1.05, 1.05);
            border: solid 1px #999192;
            box-shadow: 1px 1px 1px whitesmoke;
        }
    }
}
.sub-menu {
    position: absolute;
    display: none;
    align-content: center;
    li {
        width: 20vw;
        font-family: $titulo;
        text-align: center;
        background-color: black;
        display: block;
        font-size: 16pt;
        text-transform: uppercase;
    }
}
.menu li:hover ul {
    display:block;
}
@media (max-width: 480px) {
    .menu{
        display:inline-block; 
    }
}
@media (max-width:800px){
    header{
        label{
            display: block;
        }
        .menu{
            display: none;
            position: absolute;
            width: 70%;
            margin-left: 70%;
            flex-direction: column;
            transition: all 0.5s;
            li{
                border-top: grey;
            }
        }
        #btn-menu{
            &:checked +.menu{
                margin: 0;
                display: block;
            }
        }
    }
}