header{
    align-content: center;
    margin:  auto;
    a{
        margin-top: 15px;
    }
    .logo{
        display: none;
    }
    .menu-abrir, .menu-cerrar{
        display: none;
    }
    .menu {
        background-color: black;
        list-style: none;
        display: flex;
        align-content: center;
        margin: auto;
        justify-content: space-evenly;
        
        li {
            margin: 3px;
            font-family: $titulo;
            flex-direction: row;
            position:relative;
            font-size: 18pt;
            text-transform: uppercase;
            flex-grow: 1;
            
            &:hover{
                transform: scale(1.05, 1.05);
                border: solid 1px #999192;
                box-shadow: 1px 1px 1px whitesmoke;
            }
        }
    }
}
.sub-menu {
    position: absolute;
    display: none;
    align-content: center;
    li {
        width: 20vw;
        font-family: $titulo;
        text-align: center;
        background-color: black;
        display: block;
        font-size: 16pt;
        text-transform: uppercase;
    }
}
.menu li:hover ul {
    display:block;
}
@media (max-width:800px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .logo{
            display: block;
        }
        .menu-abrir, .menu-cerrar{
            display: block;
        }
        nav{
            position: absolute;
            top: -1000%;
            width: 100%;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            background-color: black;
            .menu{
                display: inline-block;

                li:hover ul {
                    display:none;
                }
            }
            a{
                color: white;
            }
            &:target{
                top: 0%;
            }
        }
        
        
    }
}

@media (max-width: 480px) {
    .menu{
        display:inline-block; 
    }
}