.indexMain {
    background-image: url(../../img/publico.jpg);
    height: 75vh;
    width: 100%;
    background-position: center center;
    align-content: center;
    margin: auto;
    
    ul{
        max-width: $ancho*1.5;
        display: flex;
        font-size: 0;
        margin: auto;
        opacity: 80%;
        list-style-type: none;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0px;

        li{
            font-family: $titulo;
            display: flex;
            width: 400px;
            height: 200px;
            align-items: center;
            align-content: center;
            justify-content: space-evenly;
            margin: 20px;
            border-radius: 5px;
            font-size: 22px;
            background-image: linear-gradient(#333334, black) ;
            text-decoration: overline;
            border: solid 2px #999192;
            font-weight: bold;
            text-transform: uppercase;
            box-sizing: initial;
            
            
            ul{
                max-width: $ancho*1.25;
                position: absolute;
                display: none;
                opacity: 100%;
                
                li{
                    font-family: $titulo;
                    display: flex;
                    width: 200px;
                    height: 150px;
                    align-items: center;
                    margin: 3px;
                    align-content: center;
                    font-size: 16px;
                }
            }
        }
    }
}

.indexMain li:hover ul{
    display: flex;
    flex-wrap: wrap;
}
/*smartphone*/
@media (max-width: 480px) {
    *{
        margin: 0%;
        padding: 0%;
        align-items: center;
    }
    
    .indexMain {
        display: flex;
        align-items: center;
        nav{
            margin: 10px 0px;
            
            li{
                display: flex;
                width: 300px;
                height: 90px;
                margin: 5px;
                align-items: center;
                font-size: 16px;
                
                ul{
                    width: 300px;
                    
                    li{
                        width: 100px;
                        height: 50px;
                        padding: 20px;
                        margin: 3px;
                    }
                }
            }
        }
    }
}
    .indexMain li:hover ul{
        display: flex;
    }