.menuEventos, .menuMusica {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    height: 80vh;
    margin: auto;
    list-style-type: none;
    align-content: center;
    justify-content: center;
    padding: auto;

    ul{
        display: flex;
        

        li {
            display: flex;
            width: 350px;
            height: 250px;
            justify-content: center;
            align-items: center;
            margin: 20px;
            border-radius: 1px;
            font-size: 26px;
            font-family: $titulo;
            text-transform: uppercase;
            border: solid 1px #999192;
            font-weight: bold;
            
            
        }
        li:hover{
            animation-name: eventos;
            animation: eventos 5s ease-in 0s infinite;
            text-shadow: 0.2px 0.2px 0.2px whitesmoke;
        }
    }
}
.galeria{
    align-content: center;
    justify-content: space-evenly;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
    li{
        margin: 5px;
    }
}
.galeria-480{
        display: none;
}

@keyframes eventos{
    0%{background-image: url(../../img/1.jpg);
        background-position: center center;}
    20%{background-image: url(../../img/2.jpg);
        background-position: center center;}
    40%{background-image: url(../../img/3.jpg);
        background-position: center center;}
    60%{background-image: url(../../img/4.jpg);
        background-position: center center;}
    80%{background-image: url(../../img/5.jpg);
        background-position: center center;}
    100%{background-image: url(../../img/6.jpg);
        background-position: center center;}
}
.seccionCalendario{
    height: 100vh;

    .calendario{
        width: 85%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        
        li{
            border: solid 1px #333334;
            text-align: end;
            padding: 10px 5px 30px;
            font-family: $texto;
            font-size: large;
            
        }
        .dia{
            font-family: $titulo;
            color: $colorTitulo;
            font-size: larger;
            font-weight: bold;
            text-align: center;
            
        }
        .evento{
            background: #333334;
        }
    }
    p{
        margin: 20px 10px;
    }
}
.tracks, .sets{

    .videos{
        display: flex;
        flex-wrap: wrap;
        max-width: 90%;
        margin: auto;
        justify-content: space-evenly;

        iframe{
            width: 560px;
            height: 315px;
            margin: 10px;
        }
    }
}

//width="280" height="167"

@media (max-width: 800px){
    .menuEventos, .menuMusica {
        display: none;
    }
    .seccionCalendario{
        height: 85vh;
}
}
@media (max-width: 480px){
    .galeria{
        display: none;
    }
    .galeria-480{
        align-content: center;
        justify-content: space-evenly;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        
        li{
            margin: 5px;
        }
    }
    .seccionCalendario{
        height: 80vh;
        
        .calendario{
            width: 95%;
            li{
                font-size: 12pt;
                text-align: center;
                padding: 5px 5px 5px;
            }
            .dia{
                font-size: 12pt;
                span{
                    display: none;
                }
            }
        }
    }
    .tracks, .sets{

        .videos{
            max-width: 95%;
            
            iframe{
                width: 280px;
                height: 167px;
            }
        }
    }
}